@media (max-width: 768px) {
    /* embed class style*/
    .responsive-embed {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* Aspect ratio for 16:9 videos (YouTube) */
        height: auto;
        overflow: hidden;
    }

    .responsive-embed iframe {
        position: absolute;
        display: block; /* Still block-level */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0; /* Remove borders */
    }

    /* Custom aspect ratio for Itch.io embed */
    .responsive-embed:nth-child(1) {
        padding-bottom: 30.5%; /* Adjust aspect ratio for Itch.io (554x169) */
    }
}

@media (max-width: 480px) {

}