/* Grid Container */
.game_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

.game_link { 
    text-decoration: none; 
    color: inherit; 
    display: block; 
    transition: transform 0.2s ease;
}

.game_link:hover {
    transform: scale(1.02); 
}

.game_cell { 
    background-color: #090b14;
    width: 200px;
    height: 250px;
    margin: 0 auto;
    border: 3px solid #a0f3f1;
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    transition: all 200ms ease-in;
    overflow: hidden;
}

.game_cell:hover .game_image {
    transform: scale(1.1);
}

.game_cell:hover {
    border-color: #ffa733;
    box-shadow: 0px 0px 20px 5px #ffa733;
}

.game_image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding-bottom: 4px;
    transition: transform 0.3s ease;
}

.gameText_header{
    color: #ffb075;
    font-size: 1.5rem;
}

.gameText_description
{
    font-size: 1.25rem;
}



@media (max-width: 768px) {
    .game_grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px; 
        padding: 10px; 
    }

    .game_cell {
        max-width: 175px; 
        max-height: 20ppx;
        padding: 10px; 
    }
}

@media (max-width: 480px) {
    .game_grid {
        grid-template-columns: 1fr; 
        gap: 10px;
    }

    .game_cell {
        max-width: 150px;
        max-height: 175px;
        padding: 8px;
    }
}